/* line 50, icon/*.png */
.icon-sprite, .icon-mrdanadams, .icon-twitter {
  background: url('/images/icon-sf73f8eceb0.png') no-repeat;
}

/* line 60, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-mrdanadams {
  background-position: 0 0;
}

/* line 60, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -25px;
}

/* line 7, ../sass/style.scss */
body {
  padding-top: 40px;
  padding-bottom: 2em;
}

/* line 12, ../sass/style.scss */
.topbar {
  position: absolute;
}
/* line 16, ../sass/style.scss */
.topbar h3 .first {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 20, ../sass/style.scss */
.topbar h3 .second {
  text-transform: lowercase;
  font-size: .8em;
  position: relative;
  top: -0.5em;
}
/* line 28, ../sass/style.scss */
.topbar .social-links {
  float: right;
}
/* line 31, ../sass/style.scss */
.topbar .social-links a {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 7px 10px 0px 0px;
}
/* line 38, ../sass/style.scss */
.topbar .social-links span {
  display: none;
}

/* line 45, ../sass/style.scss */
#about p {
  margin-bottom: .5em;
}

/* line 48, ../sass/style.scss */
.step {
  padding: .25em;
  /*border: 2px solid #ccc;*/
  /*@include border-radius(1em);*/
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  margin: .125em;
  margin-left: -1.6em;
  margin-right: -0.25em;
  color: #ccc;
  text-shadow: #999999 -1px -1px 0px;
}
/* line 62, ../sass/style.scss */
.step:after {
  content: '.';
  padding-left: .1em;
}

/* line 68, ../sass/style.scss */
#q {
  width: 80%;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

/* line 74, ../sass/style.scss */
.media-grid li {
  text-align: center;
}
/* line 75, ../sass/style.scss */
.media-grid a {
  text-decoration: none !important;
}

/* line 77, ../sass/style.scss */
.dimensions {
  color: #aaa;
}

@-webkit-keyframes pulse {
  /* line 80, ../sass/style.scss */
  0% {
    border-color: #cccccc;
  }

  /* line 81, ../sass/style.scss */
  50% {
    border-color: #333333;
  }

  /* line 82, ../sass/style.scss */
  100% {
    border-color: #cccccc;
  }
}

@-moz-keyframes pulse {
  /* line 80, ../sass/style.scss */
  0% {
    border-color: #cccccc;
  }

  /* line 81, ../sass/style.scss */
  50% {
    border-color: #333333;
  }

  /* line 82, ../sass/style.scss */
  100% {
    border-color: #cccccc;
  }
}

@-o-keyframes pulse {
  /* line 80, ../sass/style.scss */
  0% {
    border-color: #cccccc;
  }

  /* line 81, ../sass/style.scss */
  50% {
    border-color: #333333;
  }

  /* line 82, ../sass/style.scss */
  100% {
    border-color: #cccccc;
  }
}

@-ms-keyframes pulse {
  /* line 80, ../sass/style.scss */
  0% {
    border-color: #cccccc;
  }

  /* line 81, ../sass/style.scss */
  50% {
    border-color: #333333;
  }

  /* line 82, ../sass/style.scss */
  100% {
    border-color: #cccccc;
  }
}

/* line 98, ../sass/style.scss */
#image-editor > div {
  margin-left: 0px;
}
/* line 102, ../sass/style.scss */
#image-editor .form-stacked {
  padding-left: 0px;
}

/* line 107, ../sass/style.scss */
#canvas {
  border: 3px dashed #cccccc;
}
/* line 110, ../sass/style.scss */
#canvas.drop-highlight {
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  -ms-animation: pulse 1s infinite;
  border-color: #333333;
}

/* line 120, ../sass/style.scss */
.addthis_toolbox {
  float: right;
  width: 120px;
  padding-top: 12px;
}

/* line 126, ../sass/style.scss */
#image-sources-container {
  margin-top: 2em;
}

/* line 130, ../sass/style.scss */
#result-container {
  width: 650px;
}
/* line 133, ../sass/style.scss */
#result-container p {
  margin: 1.5em 0;
}
/* line 136, ../sass/style.scss */
#result-container p em {
  font-weight: bold;
}
/* line 141, ../sass/style.scss */
#result-container img {
  -webkit-box-shadow: 3px 3px 10px #333333;
  -moz-box-shadow: 3px 3px 10px #333333;
  -o-box-shadow: 3px 3px 10px #333333;
  box-shadow: 3px 3px 10px #333333;
  display: block;
  margin: 0px auto;
}
