@import "compass/css3";

body { padding-top: 40px; }

.topbar { position: absolute; }

#about {
	p { margin-bottom: .5em; }
}

.step {
	padding: .25em;
	border: 2px solid #ccc;
	@include border-radius(1em);
	display: inline-block;
	width: 1em; height: 1em;
	line-height: 1em;
	text-align: center;
	margin: .125em;
	margin-left: -2em;
}

#q {
	width: 80%;
	@include border-radius(1em);
}

.media-grid {
	li { text-align: center; }
	a { text-decoration: none !important; }
}
.dimensions { color: #aaa; }

@mixin pulse {
	0% { border-color: #fff * .8 }
	50% { border-color: #fff * .2 }
	100% { border-color: #fff * .8 }
}
@-webkit-keyframes pulse { @include pulse }
@-moz-keyframes pulse { @include pulse }
@-o-keyframes pulse { @include pulse }
@-ms-keyframes pulse { @include pulse }

@mixin prefix($name, $expr) {
	-webkit-#{$name}: $expr;
	-moz-#{$name}: $expr;
	-o-#{$name}: $expr;
	-ms-#{$name}: $expr;
}

#canvas { 

	border: 3px dashed #fff * .8;
	/*@include single-transition(border-color, 1s, ease, 0);*/
	/*-webkit-animation-iteration-count: 100;*/
	/*-webkit-animation-name: pulse;*/

	&.drop-highlight {
		@include prefix(animation, pulse 1s infinite);
		border-color: #fff * .2;
	}

}

.controls {
	.size { width: 3em; }
}
