@import "compass/css3";
@import "compass/utilities";

@import "icon/*.png";
@include all-icon-sprites;

body { 
	padding-top: 60px;
	padding-bottom: 2em;
}

.row {
	h2 {
		margin-bottom: .5em;
	}
}

.topbar { 
	position: absolute;

	h3 {
		.first { 
			text-transform: uppercase;
			font-weight: bold;
		}
		.second {
			text-transform: lowercase;
			font-size: .8em;
			position: relative;
			top: -.5em;
		}
	}

	.social-links {
		float: right;
		
		a {
			width: 25px;
			height: 25px;
			padding: 0px;
			margin: 7px 10px 0px 0px;
		}

		span {
			display: none;
		}
	}
}

#about {
	p { margin-bottom: .5em; }
}

.step {
	padding: .25em;
	/*border: 2px solid #ccc;*/
	/*@include border-radius(1em);*/
	display: inline-block;
	width: 1em; height: 1em;
	line-height: 1em;
	text-align: center;
	margin: .125em;
	margin-left: -1.6em;
	margin-right: -.25em;
	color: #ccc;
	@include single-text-shadow(#999, -1px, -1px, 0px);

	&:after {
		content: '.';
		padding-left: .1em;
	}
}

#q {
	width: 80%;
	@include border-radius(1em);
}

.media-grid {
	li { text-align: center; }
	a { text-decoration: none !important; }
}
.dimensions { color: #aaa; }

@mixin pulse {
	0% { border-color: #fff * .8 }
	50% { border-color: #fff * .2 }
	100% { border-color: #fff * .8 }
}
@-webkit-keyframes pulse { @include pulse }
@-moz-keyframes pulse { @include pulse }
@-o-keyframes pulse { @include pulse }
@-ms-keyframes pulse { @include pulse }

@mixin prefix($name, $expr) {
	-webkit-#{$name}: $expr;
	-moz-#{$name}: $expr;
	-o-#{$name}: $expr;
	-ms-#{$name}: $expr;
}

#image-editor {

	& > div {
		margin-left: 0px;
	}

	.form-stacked {
		padding-left: 0px;
	}
}

#canvas { 
	border: 3px dashed #fff * .8;

	&.drop-highlight {
		@include prefix(animation, pulse 1s infinite);
		border-color: #fff * .2;
	}

}

.controls {
}

.addthis_toolbox {
	float: right;
	width: 120px;
	padding-top: 12px;
}

#image-sources-container {
	margin-top: 2em;
}

#result-container {
	width: 650px;

	p {
		margin: 1.5em 0;

		em {
			font-weight: bold;
		}
	}

	img {
		@include single-box-shadow(#333, 3px, 3px, 10px);
		display: block;
		margin: 0px auto;
	}
}